{{ define "main" }}
  {{ range .Data.Pages.GroupByDate "2006" "desc"}}
    {{ range sort .Pages "Date" "desc" }}
      <ul class="list-unstyled">
        {{ range .Data.Pages.ByDate.Reverse }}
          <li class="flex">
            <time class="mr-6  text-gray-400 dark:text-gray-500">{{ .Date.Format (.Site.Params.dateform | default "01/02/2006") }}</time>
            <h2 class="font-bold text-gray-900 dark:text-gray-50 hover:text-gray-500 dark:hover:text-gray-400"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}
